@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  overflow-x: hidden;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100%;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

span{
  background-color: var(--dark-bg);
  padding: 3px;
}

header h1 span {
  font-size: 3rem;
}
header h2 span {
  font-size: 2rem;
}

 h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}



canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    grid-column: 2 / 7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    grid-column: 2 / 12;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 3rem;
    display: inline;
    line-height: 1;
  }


