    /* --- Estilos del modal --- */
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.566);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2000;

      
    }

    .modal.hidden {
      display: none;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    
    .modal-header h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }
    
    .close {
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
      transition: color 0.2s;
    }
    
    .close:hover {
      color: #051bde;
    }

    .modal-content {
      background: #111;
      color: white;
      padding: 2rem;
      border-radius: 12px;
      max-width: 1000px;
      width: 95%;
      max-height: 90vh;
      overflow-y: auto;
      position: relative;
      box-shadow: 0 0 25px rgba(0,0,0,0.7);
    }
