/* typography.css */
/* Fonts, sizes and headings */

h2, h3, blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  header h1 span {
    font-size: 3rem;
  }
  header h2 span {
    font-size: 2rem;
  }
  
  blockquote p {
    color: black;
    background-color: white;
    font-size: 2.7rem;
    display: inline;
  }
  
  span {
    padding: 3px;
  }
  
  